# build products and data
deps/
pfp-merge/
cliffy-experiments/
MicrobeMixer/
silva/cliffy/
silva/exp1_data/
silva/work/
*.log
*.out
rz-index/rz-prep
rz-index/rz-lz77
rz-index/rz-build
rz-index/rz-bench
rz-index/rz-genpat
rz-index/rz-prof
rz-index/rz-mvbuild
rz-index/rz-mvtest
rz-index/sr-build
rz-index/rz-aux
rz-index/rz-dgcheck
rz-index/rz-classify
rz-index/rz-csabuild
rz-index/rz-vfybuild
rz-index/rz-tagbuild
rz-index/rz-tagruns
rz-index/rz-parsebuild
rz-index/mbwt
rz-index/ri-build-from
